.title {
	padding-top: 2rem;
	text-align: center;
	color: white;
}

.log {
	margin-top: 2rem;
	text-align: center;
	font-size: x-large;
	background-color: rgba(128, 128, 128, 0.6);
	padding: 1rem;
	border-radius: 1rem;
	width: 30%;
}

#nom,
#prenom,
#mail,
#mdp,
#tel {
	text-align: center;
	border-radius: 10px;
	background-color: rgb(150, 150, 150);
	color: white;
	width: 100%;
}

#nom:focus,
#prenom:focus,
#mail:focus,
#mdp:focus,
#tel:focus {
	color: white;
}

::placeholder {
	color: white;
}

#btn {
	background-color: rgb(150, 150, 150);
	color: white;
}

#bgVideo {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.confirmation {
	color: white;
	bottom: 0;
	border-radius: 10px;
	background-color: rgba(128, 128, 128, 0.6);
	height: 25%;
	padding: 1rem;
	margin-right: 10rem;
}

.verification {
	z-index: -999;
}
